<ul class="posts">

    <!-- 此处使用 posts 的下标，而不用 post.next -->
    {% assign posts = site.posts | where: "locale", page.locale %}
    
    {% for index in (0..posts.size) limit: posts.size %}
    
    {% assign post = posts[index] %}
    {% assign prevIndex = index | minus: 1 %}
    {% assign prev = posts[prevIndex] %}

    {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% capture prevYear %}{{ prev.date | date: '%Y' }}{% endcapture %}

    {% capture month %}{{ post.date | date: '%m' }}{% endcapture %}
    {% capture prevMonth %}{{ prev.date | date: '%m' }}{% endcapture %}

    {% if year != prevYear or index == 0 %}
    <h3>{{ year }}</h3>
    {% endif %}

    {% if month != prevMonth or index == 0 %}
    <h4 style="text-align: center">{{ month }}</h4>
    {% endif %}

    <li itemscope>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <p class="post-date"><span><i class="fa fa-calendar" aria-hidden="true"></i>
                {{ post.date | date: "%B %-d" }}</span></p>
    </li>
    {% endfor %}
</ul>
