{% assign uid = include.uid %}

{% unless uid %}
{% assign uid = page.uid %}
{% assign show = true %}
{% endunless %}

{% assign image = site.data.images[uid]%}

{% if image %}
<div class="thumbnail-container">
    {% if image.crop.top and image.crop.bottom %}
    <img style="margin-top: {{ image.crop.top }}; margin-bottom: {{ image.crop.bottom }}" src="{{ image.image.url }}">
    {% else %}
    <img src="{{ image.image.url }}">
    {% endif %}
</div>
{% if show %}
<div class="image-info">
    <i>Photo by <a target="blank" href="{{ image.author.url }}">{{ image.author.name }}</a> on
        <a target="blank" href="{{ image.image.source }}">Unsplash</a></i>
</div>
{% endif %}
{% endif %}