---
layout: default
title: Home
---

{% for post in paginator.posts %}
<div class="posts">
  <h1>
    <a href="{{ site.github.url }}{{ post.url }}">{{ post.title }}</a>
  </h1>
  {% if post.image %}
  <div class="thumbnail-container">
    <a href="{{ site.github.url }}{{ post.url }}"><img src="{{ site.github.url }}/assets/img/{{ post.image }}"></a>
  </div>
  {% endif %}
  <p>
    {{ post.content | markdownify | truncate: 350 }} <a href="{{ site.github.url }}{{ post.url }}">Read more</a>
    <span class="post-date">
      <i class="fa fa-calendar" aria-hidden="true"></i>
      {{ post.date | date_to_string: "ordinal" }}
  </p>
</div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
  <a class="pagination-button pagination-active next"
    href="{{ paginator.next_page_path | absolute_url }}">{{ site.data.locales[page.locale].page.prev }}</a>
  {% else %}
  <span class="pagination-button">{{ site.data.locales[page.locale].page.prev }}</span>
  {% endif %}

  {% if paginator.previous_page %}
  <a class="pagination-button pagination-active"
    href="{{ paginator.previous_page_path | absolute_url }}">{{ site.data.locales[page.locale].page.next }}</a>
  {% else %}
  <span class="pagination-button">{{ site.data.locales[page.locale].page.next }}</span>
  {% endif %}
</div>